# ignore vsix extension files
*.vsix
models--*
*.pt
*.csv
*.log
*.info
*.json
*.env
finetuning/venv
finetuning/output
venv
*.e*
*.o*
*.bin
*.pth
**/wandb
*.pth
*.bin
*.wandb
**/wandb/**
*.pyc
*.sh.*
.ipynb_checkpoints
